@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "montserrat";
  color: white;
}

p {
  font-size: 14px;
}

button:hover {
  opacity: 0.85;
}

.main-site {
  padding-top: 120px;
  min-height: calc(100vh);
}
